.form {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-end;
}

.form .btn {
  padding: 0.5rem 1rem;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}
